body, html {
    margin: 0;
    overflow:hidden;
}

#container {
    margin: auto;
}

#mainMenu {
    position: absolute;
    z-index: 100;
    opacity: 1;
    display: none;
    cursor: pointer;
}

#menuPanel {
    background: #e1e1e1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 90;
}

.navButton {
    display:none;
    z-index: 95;
    opacity: 1;
    cursor: pointer;
}

#buttons a {
    text-decoration: none;
    opacity: 1;
}

#buttons {
    position: absolute;
    z-index: 92;
}

.clear {
    clear: both;
}

#messageWindow {
    z-index: 200;
    position: absolute;
    display: none;
}

.windowButton {
    z-index: 210;
    position: absolute;
    display: none;
}

/*
#windowButtonsContainer {
    margin: auto;
    display: none;
}*/
#imgageText{
    display: none;
    position: absolute;
    left: 5%;
    top: 35%;
}
.flowers{
    position: absolute;
    display: none;
    z-index: 50;
}
