body, html {
    margin: 0;
    overflow:hidden;
}

#container {
    margin: auto;
}

#menuButton {
    position: absolute;
    z-index: 999999;
    opacity: 1;
    display: none;
}

#menuPanel {
    background: #e1e1e1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 999;
}

.navButton {
    display:none;
    z-index: 10;
    opacity: 1;
}

#buttons a {
    text-decoration: none;
    opacity: 1;
}

#buttons {
    position: absolute;
    z-index: 1500;
}

.clear {
    clear: both;
}

#messageWindow {
    z-index: 999;
    position: absolute;
    display: none;
}

.windowButton {
    z-index: 9999;
    position: absolute;
}

/*
#windowButtonsContainer {
    margin: auto;
    display: none;
}*/
